NOW=$(date +"%Y-%m-%d_%H-%M")
FILE="logs/cp_$NOW.log"
#SPGW_CFG:: SGWC=01; PGWC=02; SPGWC=03
SPGW_CFG=02
S11_MME_IP={{ MME_S11_IP }} 
S11_SGW_IP={{ SGWC_S11_IP }}
S1U_SGW_IP={{ SGWU_S1U_IP }}
S5S8_SGWU_IP={{ SGWU_S5S8_SGWU_IP }}
S5S8_PGWU_IP={{ PGWU_S5S8_PGWU_IP }}
S5S8_SGWC_IP={{ SGWC_S5S8_SGWC_IP }}
S5S8_PGWC_IP={{ PGWC_S5S8_PGWC_IP }}
IP_POOL_IP=16.0.0.0
IP_POOL_MASK=255.0.0.0
APN=apn1
#APN=n.ispsn,otasn
MEMORY=1024
#Below parameters are for Socket memory for perticular numa socket
NUMA0_MEMORY=$MEMORY
NUMA1_MEMORY=0

CORELIST="0-4"
