NOW=$(date +"%Y-%m-%d_%H-%M")
FILE="logs/dp_$NOW.log"
#######[KNI-INTERFACE-NAMES]#######
##S1U INTERFACE##
UL_IFACE="S1Udev"
##SGI INTERFACE##
DL_IFACE="SGIdev"
#dp configure parameter selections
#SPGW_CFG:: SGWU=01; PGWU=02; SPGWU=03
#
#Example configurations as per selected SPGW_CFG is given below.
#Uncomment the section of parameters based on PGW_CFG configuration:
#
#####[SGWU]#####
SPGW_CFG=01
S1U_PORT={{ S1U_PCIID }}
#S5S8_SGWU_PORT={{ S5S8_SGWU_PCIID }}
S5S8_SGWU_PORT={{ sgwu_s5s8_pciid.stdout_lines[0] }}
S1U_IP={{ SGWU_S1U_IP }}
S1U_MAC={{ S1U_MAC }}
S5S8_SGWU_IP={{ SGWU_S5S8_SGWU_IP }}
S5S8_SGWU_MAC={{ S5S8_SGWU_MAC }}
SGW_S5S8GW_MASK=
SGW_S5S8GW_IP=
#####[PGWU]#####
#SPGW_CFG=02
#S5S8_PGWU_PORT=0000:00:08.0
#SGI_PORT=0000:00:09.0
#S5S8_PGWU_IP=11.3.1.93
#S5S8_PGWU_MAC=00:00:00:00:fe:00
#SGI_IP=13.3.1.93
#SGI_MAC=00:00:00:00:fe:01

NUM_WORKER=1
MEMORY=4096

#Set 1 to enabled numa, otherwise set to 0
NUMA=0

#Give numa memory according to numa1 or numa0 socket
NUMA0_MEMORY=$MEMORY
NUMA1_MEMORY=0

#set corelist here
CORELIST="0-3"
#Optional:
#SGI_GW_IP=13.1.1.110
#SGI_MASK=255.255.0.0

#S1U_GW_IP=11.1.1.101
#S1U_MASK=255.255.0.0
