{
    "common": {
        "maxconnections": "16",
        "kmsserver": "{{ SGX_KMS_SGX_KMS_IP }}",
        "kmsport": "{{ KMS_PORT }}",
        "keynamespace": "{{KEY_NAME_SPACE}}"
    },

    "dealer": {
        "runmode": "IN",
        "cdrhost": "{{ SGX_DLRRTR_SGX_DLRRTR_IP }}",
        "cdrport": "{{ CDR_IN_PORT }}",
	"port": "{{ DL_IN_PORT }}",
	"cdrpath": "./cdr",
	"cdrarchpath": "/tmp"
    }
}
