NOW=$(date +"%Y-%m-%d_%H-%M")
FILE="logs/cp_$NOW.log"
#SPGW_CFG:: SGWC=01; PGWC=02; SPGWC=03
SPGW_CFG=03
S11_MME_IP={{ MME_S11_IP }} 
S11_SGW_IP={{ SPGWC_S11_IP }}
S1U_SGW_IP={{ SPGWU_S1U_IP }}
S5S8_SGWU_IP=1.1.1.1
S5S8_PGWU_IP=2.2.2.2
S5S8_SGWC_IP=3.3.3.3
S5S8_PGWC_IP=4.4.4.4
IP_POOL_IP=16.0.0.0
IP_POOL_MASK=255.0.0.0
APN=apn1
#APN=n.ispsn,otasn
MEMORY=1024
